<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <a href="/">CodeCool</a>
    <p>Login</p>

    {% if data %} <p>Invalid email or password!</p> {% endif %}

    <form action="{{ url_for('login') }}" method=post>

        <label for="email">Email address:</label>
        <input
            id="email"
            required
            type="email"
            {% if data %} value="{{ data[0] }}" {% endif %}
            name="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            title="That is not a valid email..."
        >
        <br>

        <label for="pw">Password:</label>
        <input
            id="pw"
            required
            {% if data %} value="{{ data[1] }}" {% endif %}
            type="password"
            name="password"
        >
        <br>

        <input type="submit" name="Login" class="button">

    </form>
    <p class="footer">a PornstarZ production | Codecool 2016</p>
</body>
</html>
