<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Register</h1>

    <form action="{{ url_for('register') }}" method=post>

        <label for="name">Name:</label>
        <input
            id="name"
            type="text"
            required
            name="Name"
            pattern=".{5,20}"
            {% if data %} value="{{  }}" {% endif %}
        >
        <br>

        <label for="city">Closest city:</label>
        <input
            id="city"
            type="text"
            required
            name="City"
            {% if data %} value="{{  }}" {% endif %}
        >
        <br>

        <label for="email">Email address:</label>
        <input
            id="email"
            required
            type="email"
            name="Email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            title="That is not a valid email..."
            {% if data %} value="{{  }}" {% endif %}
        >
        {% if data %} <p>Already in use!</p> {% endif %}
        <br>

        <input type="submit" name="Register">

    </form>
</body>
</html>
