<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="{{ url_for('register') }}" method=post>
        <input type="text" name="Name" value= {{ data[0][0] }}><p>{{ data[0][1]}}</p>
        <br>
        <input type="text" name="City" value= {{ data[1][0] }}><p>{{ data[1][1]}}</p>
        <br>
        <input type="text" name="Email" value= {{ data[2][0] }}><p>{{ data[2][1]}}</p>
        <br>
        <input type="submit" name="Register">
    </form>
</body>
</html>
